<div id="place1">
	<h1>TAJ MAHAL</h1>
	<p>
  		<b><i>The Taj Mahal incorporates and expands on design traditions of Persian and earlier Mughal architecture. Specific inspiration came from successful Timurid and Mughal buildings including the Gur-e Amir (the tomb of Timur, progenitor of the Mughal dynasty, in Samarkand),[11] Humayun's Tomb, Itmad-Ud-Daulah's Tomb (sometimes called the Baby Taj), and Shah Jahan's own Jama Masjid in Delhi. While earlier Mughal buildings were primarily constructed of red sandstone, Shah Jahan promoted the use of white marble inlaid with semi-precious stones. Buildings under his patronage reached new levels of refinement.</i></b>
	</p>

</div>
<br><br>
<div id="place2">
	<h1>Goa</h1>
	<p>
		<b><i>Goa is a state on the southwestern coast of India within the region known as the Konkan, separated from the Deccan highlands of the state of Karnataka by the Western Ghats.[5] It is bounded by Maharashtra to the north and Karnataka to the east and south, with the Arabian Sea forming its western coast. It is India's smallest state by area and the fourth-smallest by population. Goa has the highest GDP per capita among all Indian states,[6] two and a half times that of the country.[7] It was ranked the best-placed state by the Eleventh Finance Commission for its infrastructure and ranked on top for the best quality of life in India by the National Commission on Population based on the 12 Indicators.</i></b>
	</p>
</div>
